<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL_Ap_4Nsx2n6UqAISwXaVoy00U_0l1lg</string>
	<key>GCM_SENDER_ID</key>
	<string>542105523140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kindraApp</string>
	<key>PROJECT_ID</key>
	<string>kindra-app-ve</string>
	<key>STORAGE_BUCKET</key>
	<string>kindra-app-ve.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542105523140:ios:3cccb1c57c2f00a9698a91</string>
</dict>
</plist>